<?xml version="1.0"?>
<ruleset name="WPVDB Coding Standards">
	<description>WordPress coding standards for WPVDB.</description>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>
	<rule ref="WordPress-VIP-Go">
		<exclude name="WordPressVIPMinimum.JS" />
	</rule>
	<rule ref="PHPCompatibilityWP"/>

	<config name="testVersion" value="7.4-"/>

	<arg name="extensions" value="php"/>
	<arg value="s"/>

	<file>includes</file>
	<file>wpvdb.php</file>
	<file>admin</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/benchmarks/data/*</exclude-pattern>
</ruleset>
